<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="dist/assets/css/previewCanvas.css">
    <link rel="stylesheet" href="dist/assets/css/utils.css">

    <script src="dist/plugin/vue.js"></script>
</head>
<body>
    <div class="previewCanvas" id="previewImageFinal">
        <header class="canvasHeader">
            <div class="logoContainerHeader">
                <img src="dist/assets/images/logo.png" alt="">
            </div>
            <hr style="height: 65px;border: 2px solid #FFFFFF;opacity: 1; width:2px;border-radius:8px;margin-top: 55px;">
            <div class="titleContainer">
                <span style="color: #FFFFFF;font-size:20px;font-weight:lighter">Your Kit <span style="color:aqua">Squid</span></span>
            </div>
            <div class="actionButton">
                <div class="editButton" @click="editAgain">
                    <span style="color: #002633;font-size:16px;font-weight:900;"> Edit again</span>
                </div>
                <div class="addOnCartButton" @click="checkCart">
                    <span style="color: #FFFFFF;font-weight:900;font-size:16px">Add to cart</span>
                </div>

            </div>
        </header>
        <div class="ZoomButton">
            <div class="zoom">

            </div>
            <div class="dezoom">

            </div>
        </div>

        <div class="previewBodyContainer">
            
            <div class="containerCanvasFabricPreview">
                <img :src="dataSourceImage" alt="preview image canvas">
            </div>
            <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div v-if="AddCart">
                            <div class="previewInformation">
                                    <div class="titleInfo">
                                        <span>
                                            Let’s check one more time
                                        </span>
                                    </div>
                                    <div class="detailsInfo">
                                        <div class="iconLeft">
                                            <img src="dist/assets/images/icon/up-arrow.svg" alt="">
                                        </div>
                                        <div class="itemsText">
                                            <span>Lack of ortoghraphs or others repositionable</span>
                                        </div>
                                    </div>
                                    <div class="detailsInfo">
                                        <div class="iconLeft">
                                            <img src="dist/assets/images/icon/up-arrow.svg" alt="">
                                        </div>
                                        <div class="itemsText">
                                            <span>Your logo is well positioned and of good quality</span>
                                        </div>
                                    </div>
                                    <div class="detailsInfo" @click="(checkidt = !checkidt),myCart()">
                                        <div class="checkInfo">
                                            <img src="dist/assets/images/Carre.png" alt="#">
                                            <div class="checkArrow" v-if="checkidt">
                                                <img src="dist/assets/images/Check_click.png" alt="#">
                                            </div>
                                        </div>
                                        <div class="itemsText agree">
                                            <span style="font-size: 20px;font-weight: 900;width: 343px;height: 27px;">Yes! I checked everything.</span>
                                        </div>
                                    </div>
                            </div>
                        </div>

            </div>

        </div>

    </div>
    
    <script src="dist/assets/js/previewCanvas.js"></script>
</body>
</html>