<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Asquid | FlexiSquid</title>
    <link rel="icon" href="../dist/assets/images/logo.png">
    <link rel="stylesheet" href="../dist/assets/css/flexiSquid.css">
	 <link rel="stylesheet" href="../dist/plugin/animate.min.css">
	 <link rel="stylesheet" href="../dist/assets/css/myCustomiseDropdown.css">
    <script src="../dist/plugin/vue.js"></script>
</head>
<body>
    <div class="flexiSquidBody" id="flexiSquid">
		 <div class="messageDesignChoose  animate__animated animate__fadeInDown" v-if="chooseDesign =='graphic'" >
						 <div @click="chooseDesign =''" class="closeMessage">
							 <span>X</span>
						 </div>
						 <div class="messageContent">
							 <span style="color: #002633;font-size:20px;font-weight: 900;">A graphic proposal will be sent to you within 48 hours</span>
						 </div>
		</div>
        <header>
            <div class="header_container">
                <div class="logo-container">
                    <a href="index.html">
                        <img src="../dist/assets/images/logo.png" alt="">
                    </a>
                </div>
                <div class="link-container">
                    <div class="social-link">
                        <div class="user">
                            <img src="../dist/assets/images/icon/user_V2.svg" alt="">
                        </div>
                        <div class="shopping">
                            <img src="../dist/assets/images/icon/shopping-cart_V2.svg" alt="">
                        </div>
                        <div class="search_utilisateur">
                            <div class="search-icon">
                                <img src="../dist/assets/images/icon/search.svg" alt="">
                            </div>
                            <div class="inputText">
                                <input type="text" name="search" id="search" placeholder="Search">
                            </div>
                        </div>

                    </div>
                    <div class="link-item">
                        <ul class="link-item-list">
                            <li class="link-item-list-item dropdows ">Produit
                                <ul class="dropdown-link-item">
                                    <li><a href="kitSquid.html">Kit Squid</a></li>
                                    <li><a href="flexiSquid.html">Flexi Squid</a></li>
                                    <li><a href="RearSquid.html">Rear Squid</a></li>
                                </ul>

                            </li>
                            <li class="link-item-list-item quote">Quote</li>
                            <li class="link-item-list-item">Business service</li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="flexiSquidBreacrumb">
            <div id="Home_Choose_your_media_Your_ki">
                <span>Home/ Choose your media/</span><span style="color:rgba(51,204,255,1);"> Your FlexiSquid</span>
            </div>
        </div>
        <div class="flexiSquidSelectioncontainer" id="flexiSquidSelectioncontainer">
            <div class="flexisSquidPicture">
                <div class="pictureBox">
                    <span>Photos </span>
                </div>

            </div>
            <div class="detailsProductSquidSelection">
                <div id="Your_FlexiSquid">
                    <span>Your Flexi </span><span style="color:rgba(51,204,255,1);">Squid</span>
                </div>
                <div id="From_159">
                    <span>From </span><span style="font-style:normal;font-weight:normal;">$159</span>
                </div>
                <svg class="Rectangle_28">
                    <rect id="Rectangle_28" rx="0" ry="0" x="0" y="0" width="276" height="44">
                    </rect>
                </svg>
                <div id="Review">
                    <span>Review</span>
                </div>
                <div id="Movable_as_you">
            		<span>Movable as you</span>
                </div>
                <div id="With_your_FelxiSquid_you_can_d">
            		<span>With your FelxiSquid, you can dispose of your advertising at will. During the week you can give visibility to your company and during the weekend you can find your car without any advertising.<br/>Thanks to its four suction cups, you get a maximum hold.<br/>Two sizes are available.</span>
                </div>
                <div class="sizeChoose">
                    	 <div id="Choose_your_size">
                            <span>Choose your </span><span style="color:rgba(51,204,255,1);">size</span><span>:</span>
                        </div>
                        <div class="flexiSizeChooseContainer">
                                <div class="flexiSizeDimension" @click="FlexiShowActive(0)">
                                    <div class="flexiImageSize">
                                        <img  src="../dist/assets/images/Car_Stickers_Flexisquid_800.png" alt="car flexi 800 M">

                                    </div>
                                    <div class="flexiDescriptionSize">
                                        <div>
                                            <span>Size M</span>
                                        </div>
                                        <div>
                                            <span class="dimensionQuantity">1 FlexiSquid</span>
                                        </div>

                                    </div>
                                    <div class="flexiSize">
                                        <span class="specialSizeFlexi">
                                            800 x 250 mm
                                        </span>

                                    </div>
                                </div>
                                 <div class="flexiSizeDimension" @click="FlexiShowActive(1)">
                                    <div class="flexiImageSize">
                                        <img  src="../dist/assets/images/Car_Stickers_Flexisquid_950.png" alt="car flexi 800 M">

                                    </div>
                                    <div class="flexiDescriptionSize">
                                        <div>
                                            <span>Size L</span>
                                        </div>
                                        <div>
                                            <span class="dimensionQuantity">1 FlexiSquid</span>
                                        </div>

                                    </div>
                                    <div class="flexiSize">
                                        <span class="specialSizeFlexi">
                                            950 x 300 mm
                                        </span>

                                    </div>

                                </div>

                        </div>
               </div>
               <div class="Designhoose">
                     <div id="Choose_your_size">
                            <span>Choose your </span><span style="color:rgba(51,204,255,1);">design</span><span>:</span>
                     </div>
                     <div class="flexiSizeChooseContainer">
                            <div class="flexiDesignDimension desingFlexi" @click="(FlexiDesignShowActive(0)),(chooseDesign='none')">
								<div class="noneDesign">
									<span>None</span>
								</div>

                            </div>
                            <div class="flexiDesignDimension desingFlexi" @click="(chooseDesign='graphic'),(FlexiDesignShowActive(1))">
									<div class="ellipseFlexis">
										<div>
											<span style="color: #002633; font-size:16px;font-weight:900">?</span>
										</div>
									</div>
									<div class="imgcontainer">
										<img src="../dist/assets/images/Page produit/Design_assist.png" alt="">
									</div>
									<div class="textGraphic">
										<span style="color: #002633;font-weight:900">Graphic support</span>
									</div>
                            </div>
                     </div>
				</div>
				<div class="quantitychoose">
					    <div id="Choose_your_size">
                            <span>Choose your </span><span style="color:rgba(51,204,255,1);">quantity</span><span>:</span>
                        </div>
						<div class="containerQuantity">
							<div class="choosequantityDropdow d-lg-flex" @click="dropChoose = !dropChoose">
							  <div class="chooseQuantityName fw-bold">
								  <span>{{YourFlexiQuantity}}</span>
							  </div>
							  <div class="arrowDownDrop">
								  <img src="../dist/assets/images/arrowDown.png" alt="">
							  </div>
						  </div>
						  <div class="DropDowQuantityToChoose" v-if="dropChoose">
							  <div class="quantityList mt-3 fw-bold"  v-for = "itemQuantity in kitQuantity">
								  <span  @click="removeItem(itemQuantity.quantity,itemQuantity.value)">  {{itemQuantity.quantity}} </span>
							  </div>
						  </div>
						</div>
					
				</div>
				<div class="flexiSumary">
					    <div id="Choose_your_size">
                            <span style="color:rgba(51,204,255,1);">Summary</span><span>:</span>
                        </div>
						<div class="sumaryContainerFlexi">
							<svg class="Ligne_5" viewBox="0 0 408 3">
								<path id="Ligne_5" d="M 0 0 L 408 0">
								</path>
							</svg>
							<svg class="Ligne_6" viewBox="0 0 408 3">
								<path id="Ligne_6" d="M 0 0 L 408 0">
								</path>
							</svg>
							<svg class="Ligne_7" viewBox="0 0 408 3">
								<path id="Ligne_7" d="M 0 0 L 408 0">
								</path>
							</svg>
							<svg class="Ligne_36" viewBox="0 0 408 3">
								<path id="Ligne_36" d="M 0 0 L 408 0">
								</path>
							</svg>
							<div id="Your_size">
								<span style="color: #002633;font-size:20px;font-weight:900">Your size:</span><span> {{YourFlexisize}}</span>
							</div>
							<div id="Your_design">
								<span style="color: #002633;font-size:20px;font-weight:900">Your design:</span><span> {{YourFlexiDesign}}</span>
							</div>
							<div id="Quantity">
								<span style="color: #002633;font-size:20px;font-weight:900">Quantity:</span><span>{{YourFlexiQuantity}}</span>
							</div>
							<div id="Total">
								<span style="color: #002633;font-size:20px;font-weight:900">Total:</span><span style="color: #002633;font-size:20px;font-weight:900"> $ {{YourFlexiTotalAmount}} </span>
							</div>
						</div>
				</div>
				<div class="actionFlexiButton">
					<div class="btnContainerAction">
						<div class="uploadDesignFlexi">
							<span style="letter-spacing: 0px;color: #33CCFF;opacity: 1; font-size: 20px;font-weight: 900;">Upload My Design</span>
						</div>
						<div class="customizerFlexi" @click="customiseZer">
							<span  style="letter-spacing: 0px;color: #FFFFFF;opacity: 1; font-size: 20px;font-weight: 900;"> Customize</span>
						</div>

					</div>
				</div>


            </div>

        </div>
		 <div class="recaptilatusContainer">
            <div class="contentContainerRecap">
                <ul class="contentLink">
                    <li class="contentLinkItem" @click="(resumeShowActive(0) ), (itemToShow='overview')">Overview</li>
                    <li class="contentLinkItem" @click="(resumeShowActive(1)) , (itemToShow='guideline')">Guideline</li>
                    <li class="contentLinkItem" @click="(resumeShowActive(2)) , (itemToShow='howtofix')">How to fix it</li>
                    <li class="contentLinkItem" @click="(resumeShowActive(3)) , (itemToShow='review')">Review</li>
                </ul>
            </div>
            <div class="contentContainerRecapitilatif" v-if="itemToShow == 'overview'" >
                <div class="descriptionContentContainer animate__animated animate__fadeInLeft animate__delay-1s">
                    <div class="descriptionContentHeader">
                        Your Kit<span class="special">Squid</span>
                    </div>
                    <div class="infoRearkits">
                        <div class="quantityAndSizeReview d-lg-flex">
							<div class="imgContent">
								<img src="../dist/assets/images/Side-arrow_dark copie.png" alt="">
							</div>
							<div class="textContent" style="margin-left:25px;font-size:20px;">
								<span> 2 FlexiSquid  {{YourFlexisize}} mm </span>
							</div>
                        </div>
                        <div class="consignReview d-lg-flex">
							<div class="imgContent">
								<img src="../dist/assets/images/Side-arrow_dark copie.png" alt="">
							</div>
							<div class="textContent" style="margin-left:25px;font-size:20px;">
								<span> 4 Suction cup</span>
							</div>
                        </div>
                        <div class="consignReview  d-lg-flex" style="width: 69%;">
							<div class="imgContent">
								<img src="../dist/assets/images/Side-arrow_dark copie.png" alt="">
							</div>
							<div class="textContent "style="width: 243px; height: 108px; margin-left:25px;font-size:20px;">
								<span> One Way, allows to see from the inside to the outside. Does not interfere with your visibility </span>
							</div>
                        </div>
                        <div class="consignReview d-lg-flex" v-show="chooseDesign == 'graphic'" >
							<div class="imgContent">
								<img src="../dist/assets/images/Side-arrow_dark copie.png" alt="">
							</div>
							<div class="textContent" style="width:247px;height: 54px;margin-left:25px;font-size:20px;">
								<span> A graphic proposal will be sent to you within 48 hours</span>
							</div>
                        </div>

                    </div>

                </div>
                <div class="photodescriptionContentContainer animate__animated animate__fadeInRigth animate__delay-1s">
                    <div class="photoContainerdescription">
                        Photo
                    </div>
                </div>
            </div>
            <div class="guideLineContainer d-lg-flex"  v-if="itemToShow == 'guideline'" >
                <div class="guidelineDownload">
                    <span class="text-white fw-bold display-5">Guideline</span>
                    <div class="buttonDowload d-lg-flex d-md-flex d-sm-flex text-center">
                        <div class="titleButton fw-bold">
                            <span><a href="../dist/assets/images/Test_Guideline/FlexiSquid_800x250mm/Plexi-pub-800x250.psd" download> Download</a></span>
                        </div>
                        <div class="imageDownLoad">
                            <img src="../dist/assets/images/Download_v2.png" alt="">
                        </div>
                    </div>

                </div>
                <div class="guideLineSaveAre">
                    <div class="safeAreZone text-center fw-bold d-lg-flex d-md-flex d-sm-flex">
                        <span class="display-4 fw-bold">Safe Area</span>
                    </div>

                </div>
            </div>
            <div class="howTofixContainer mt-5" v-if="itemToShow == 'howtofix'">
                <div class="howTofixVideoContainer">
                    <iframe width="420" height="345" src="https://www.youtube.com/embed/5mwYmBdQuNI?autoplay=1&mute=1">
                        </iframe>      
                </div>

            </div>
        </div>
        <div id="Groupe_84">
            <div id="Pricing">
                <span>Pricing</span>
            </div>
            <div id="Let_us_help">
                <span>Let us help</span>
            </div>
            <div id="My_account">
                <span>My account</span>
            </div>
            <div id="Contact__Support">
                <span>Contact & Support</span>
            </div>
            <div id="FAQs">
                <span>FAQs</span>
            </div>
            <div id="Stickers">
                <span>Stickers</span>
            </div>
            <div id="Composition_of_one_kit">
                <span>Composition of one kit</span>
            </div>
            <div id="How_to_fix_the_stickers">
                <span>How to fix the stickers</span>
            </div>
            <div id="Options_for_stickers">
                <span>Options for stickers</span>
            </div>
            <div id="Follow_us">
                <span>Follow us</span>
            </div>
            <div id="Facebook">
                <span>Facebook</span>
            </div>
            <div id="Instagram">
                <span>Instagram</span>
            </div>
            <div id="Youtube">
                <span>Youtube</span>
            </div>
            <div id="Privacy_and_Cookie_Policy">
                <span>Privacy and Cookie Policy</span>
            </div>
            <div id="Terms_and_Conditions">
                <span>Terms and Conditions</span>
            </div>
            <svg class="Ligne_3" viewBox="0 0 1366 5">
                <path id="Ligne_3" d="M 0 0 L 1366 0">
                </path>
            </svg>
            <div id="Copyright_2021_Flysoft_Enginee">
                <span>Copyright 2021© Flysoft Engineering.</span>
            </div>
            <div id="ABN_16_998_486_520">
                <span>ABN: 16 998 486 520</span>
            </div>
            <img id="Tentacule_footer_test_v2" src="../dist/assets/images/Tentacule_footer_test_v2.png">

            <svg class="Rectangle_21">
                <rect id="Rectangle_21" rx="26.5" ry="26.5" x="0" y="0" width="276" height="53">
                </rect>
            </svg>
            <div id="Email">
                <span>Email</span>
            </div>
            <svg class="Rectangle_22">
                <rect id="Rectangle_22" rx="26.5" ry="26.5" x="0" y="0" width="276" height="53">
                </rect>
            </svg>
            <div id="Subscribe">
                <span>Subscribe</span>
            </div>
            <svg class="Ligne_4" viewBox="0 0 936 1">
                <path id="Ligne_4" d="M 0 0 L 936 0">
                </path>
            </svg>
        </div>

    </div>
    <script src="../dist/assets/js/flexi.js"></script>
</body>
</html>