<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asquid | Flexi Squid</title>
    <link rel="icon" href="../dist/assets/images/Picto.png">
    <link rel="stylesheet" href="../dist/assets/css/kitsquid.css">
    <link rel="stylesheet" href="../dist/assets/css/myCustomiseDropdown.css">
    <link rel="stylesheet" href="../dist/assets/css/footer.css">
    <link rel="stylesheet" href="../dist/assets/css/utils.css">



    <!--boostrapp-->
    <!-- <link rel="stylesheet" href="../dist/plugin/responsive/css/bootstrap.min.css"> -->
    <!--vue js -->
    <script src="../dist/plugin/vue.js"></script>
    <script src="../dist/plugin/axios.min.js"></script>

</head>
<body>
    <div class="KitSquidBody" id="flexiSquid">
        <header class="rearSquidHeader">
            <div class="rearSquidHeaderLogo">
                <a href="../index.html">
                    <img src="../dist/assets/images/logo.png" alt="logo asquid vehicule">
                </a>
                
            </div>
            <div class="socialLinkRearSquid">
                  <div class="social-link">
                        <div class="user">
                            <img src="../dist/assets/images/icon/user_V2.svg" alt="">
                        </div>
                        <div class="shopping">
                            <img src="../dist/assets/images/icon/shopping-cart_V2.svg" alt="">
                        </div>
                        <div class="search_utilisateur">
                            <div class="search-icon">
                                <img src="../dist/assets/images/icon/search.svg" alt="">
                            </div>
                            <div class="inputText">
                                <input type="text" name="search" id="search" placeholder="Search">
                            </div>
                        </div>

                    </div>
                    <div class="link-item">
                        <ul class="link-item-list">
                            <li class="link-item-list-item dropdows ">Produit
                                <ul class="dropdown-link-item">
                                    <li><a href="kitSquid.html#Kit">Kit Squid</a></li>
                                    <li><a href="flexiSquid.html#flexiSquidSelectioncontainer">Flexi Squid</a></li>
                                    <li><a href="rearsquid.html#rearContainer">Rear Squid</a></li>
                                </ul>

                            </li>
                            <li class="link-item-list-item">Quote</li>
                            <li class="link-item-list-item">Business service</li>
                        </ul>
                    </div>

            </div>
        </header>
        <div class="KitSquidContainer">
             <div class="rearSquidBreakcrumb">
                <div class="Breakcrumbtitle">
                    <span>Home/ Choose your media/</span><span style="color:rgba(51,204,255,1);"> Your Flexi Squid</span>
                </div>
            </div>
            <div class="KitContainer" id="Kit">
                <div class="photoKitSquidProduct">

                </div>
                <div class="KitSquidDetailsContainer">
                     <div class="kitSquidTitle">
                        <span>Your Flexi  </span><span style="color:rgba(51,204,255,1);">Squid</span>
                    </div>
                    <div class="kitSquidPriceBase">
                         <span>From </span><span style="font-style:normal;font-weight:bold;">$159</span>
                    </div>
                      <div class="reviewKitSquid">
                        <div class="startContainer">
                            <img src="../dist/assets/images/Star/star.png" alt="">
                        </div>
                    </div>
                    <div class="descriptionRearSquid">
                        <div class="tagsKitSquid">
                            <span>Movable as you</span>
                        </div>
                        <div class="bodyDesciption">
                          With your FelxiSquid, you can dispose of your advertising at will.
                           During the week you can give visibility to your company and during 
                          the weekend you can find your car without any advertising.<br>
                           Thanks to its four suction cups, you get a maximum hold.<br> Two sizes are available.
                        </div>
                    </div>
                    <div class="sizeKitSquid">
                        <div class="titleRearSquid">
                            <span>Choose your <span style="color: #33ccff;"> size:</span></span>
                        </div>

                        <div class="containerSizeSquid">
                            <div class="sizeKitContainer" v-for = "itemsSize in kitSize " @click="sizeShowActive(itemsSize.id)">
                                <div class="flexiRearSize">
                                    <img :src="itemsSize.image" alt=" ">
                                </div>
                                    <div class="sizeTitleRearContainer">
                                            <div class="titleRearSize">
                                                <span>Size <span style="color: #002633; font-weight: bold;">{{itemsSize.nomSize}}</span></span>
                                            </div>
                                            <div class="quantityRearSize">
                                                <span> <small>2 stickers</small></span>
                                            </div>
                                        </div>
                                        <div class="sizeRearSquidC">
                                            <span style="color: #33ccff;">
                                                {{itemsSize.dimension}} mm
                                            </span>
                                    </div>
                             </div>
                        </div>
                    </div>
                    <div class="designSquid" style="margin-top: 39px;">
                        <div class="titleRearSquid ">
                         <span>choose your <span style="color: #33ccff;"> design:</span></span>
                        </div>
                        <div class="containerDesignSquid  fw-bold ">
                            <div class="designKitContainer" v-for="itemDesign in KitDesign" @click="designShowActive(itemDesign.id)">
                                <div class="imageDesignSquid" v-if="itemDesign.id == 1">
                                    <img  :src="itemDesign.image" alt="">
                                </div>
                                <div class="typeDesignSquid" v-if="itemDesign.id == 1">
                                    <span style="font-weight: 900;"> {{itemDesign.nomDesign}} </span>
                                </div>
                                <div class="typeDesignSquid" style="margin-top: 50px;" v-if="itemDesign.id == 0">
                                    <span style="font-weight: 900;"> {{itemDesign.nomDesign}} </span>
                                </div>
                                <div class="infoDesign" :id="'design'+ itemDesign.id" v-if="itemDesign.id == 1">
                                    <span>?</span>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="carInformation" v-show="grapic">
                        <div class="titleRearSquid">
                            <span>What’s your  <span style="color: #33ccff;"> car:</span></span>
                        </div>
                        <div class="carInfomationContent">
                            <div class="YourBrand">
                                <div class="TextLabel">
                                    <span style="font-size: 20px;font-weight: 900;color: #fff;">
                                        Your brand:
                                    </span>
                                </div>
                                <div class="selectBrandContainer" @click="(dropChoose = !dropChoose),(dropModelChoose = false)">
                                    <div class="brandChoose">
                                        <span>
                                            {{YourBrandChoose}}
                                        </span>
                                    </div>
                                    <hr style="height: 20px; margin-top: 10px;">
                                    <div class="downDrop">
                                        <img src="../dist/assets/images/arrowDown.png" alt="">
                                    </div>
                                </div>
                                <div class="contentListOfBrandChoose" v-if="dropChoose">
                                    <div class="ListOfBrandChoose">
                                        <div class="brandToChoose" v-for="(item, index) in brandChooseList" :key="index">
                                            <span @click="brandItem(item.value,index)" style="font-weight: 100;font-size: 16px;color: #002633;">
                                                {{item.value}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr style="width: 408px; margin-top:21px;margin-left:30.5px">
                            <div class="YourModel">
                                 <div class="TextLabel">
                                    <span style="font-size: 20px;font-weight: 900;color: #fff;">
                                        Your model:
                                    </span>
                                </div>
                                <div class="YourModelContainer">
                                    <input type="text" v-model="YourCarModel" placeholder="Vitro, Navarra…">
                                </div>
                            </div>
                            <hr style="width: 408px; margin-top:21px;margin-left:30.5px">
                            <div class="YourColor">
                                <div class="TextLabel">
                                    <span style="font-size: 20px;font-weight: 900;color: #fff;">
                                        Color of vehicle:
                                    </span>
                                </div>
                                <div class="selectColorContainer">
                                    <div class="colorChoose" @click="dropModelChoose = !dropModelChoose">
                                        <div class="colorToChoose">
                                        </div>
                                        <hr style="height: 20px; margin-left: 10px; margin-top: 10px;">
                                        <div class="downDrop">
                                            <img src="../dist/assets/images/arrowDown.png" alt="">
                                        </div>
                                    </div>
                                    <div class="contentColorList" v-show="dropModelChoose" >
                                        <div class="ListColorChoose">
                                            <div class="colorToSelect" v-for="(item, index) in colorChooseList" @click="chooseColor(item)" :key="index">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="YourYear">
                                  <div class="TextLabelYear">
                                    <span style="font-size: 20px;font-weight: 900;color: #fff;">
                                        Year of vehicle:
                                    </span>
                                </div>
                                <div class="selectBrandContainer" @click="(YeardropChoose = !YeardropChoose),(dropModelChoose = false)">
                                    <div class="brandChoose">
                                        <span>
                                            {{YourYearChoose}}
                                        </span>
                                    </div>
                                    <hr style="height: 20px; margin-top: 10px;">
                                    <div class="downDrop">
                                        <img src="../dist/assets/images/arrowDown.png" alt="">
                                    </div>
                                </div>
                                <div class="contentListOfBrandChoose" v-if="YeardropChoose">
                                   <div class="ListOfBrandChoose">
                                       <div class="brandToChoose"  v-for="(item, index) in YearList" @click="(YearItem(item)), (YeardropChoose = !YeardropChoose)" :key="index">
                                           <span  style="font-weight: 100;font-size: 16px;color: #002633; cursor: pointer;">
                                               {{item}}
                                           </span>
                                       </div>
                                   </div>
                               </div>
                            </div>
                              <div class="titleRearSquid" style="margin-top: 35px;">
                               <span>Additional  <span style="color: #33ccff;"> information:</span></span>
                             </div>
                             <div class="MoreDetails">
                                 <textarea name="more information" id="information" cols="30" rows="10"></textarea>
                             </div>
                        </div>

                    </div>

                    <div class="quantitySquid">
                        <div class="titleRearSquid ">
                         <span>choose your <span style="color: #33ccff;"> quantity:</span></span>
                        </div>
                        <div class="containerQuantitySquid">
                            <div class="choosequantityDropdow" @click="dropChoose = !dropChoose">
                                <div class="chooseQuantityName" style="width: 97px !important; margin-left: 35px !important;">
                                    <span>{{YourFlexiQuantity}}</span>
                                </div>
                                <hr style="height: 15px; margin-top: 18px; margin-right: 5px;">
                                <div class="arrowDownDrop" style="width: 11px;height: 6px; margin-top:16px">
                                    <img src="../dist/assets/images/arrowDown.png" alt="">
                                </div>
                            </div>
                             <div class="DropDowQuantityToChoose" v-if="dropChoose">
                                        <div class="contentQuantity">
                                            <div class="quantityList" style="width: 94px;"  v-for = "itemQuantity in kitQuantity">
                                                <span  @click="removeItem(itemQuantity.quantity,itemQuantity.value)">  {{itemQuantity.quantity}} </span>
                                            </div>
                                        </div>
                              </div>
                        </div>
                    </div>
                    <div class="SumaryRearSquid ">
                        <div class="titleSummary">
                            <span style="color: #33ccff;">Summary</span>
                        </div>
                        <div class="SumaryRearSquidContainer" style="width: 460px;height: 305px;">
                            <div class="yourSizeResume">
                                <div class="texteSummary">
                                    <span style="font-size: 20px;font-weight: 900; color: #002633;">Your size: </span> <span style="color: #002633;font-weight:100;font-size: 20px;"> {{YourFlexisize}}</span><span v-if="YourSizePrice >0" style="color: #002633;font: weight 900;font-size:20px" > (  ${{YourSizePrice}}) </span>
                                </div>
                                <div class="lineSummary">

                                </div>
                            </div>
                            <div class="yourSizeResume">
                                <div class="texteSummary">
                                    <span style="font-size: 20px;font-weight: 900; color: #002633;margin-right: 5px;">Your design: </span>  <span style="color: #002633;font-weight:100;font-size: 20px;">{{YourFlexiDesign}}</span> <span v-if="designPrice >0" style="color: #002633;font: weight 900;font-size:20px" > ( + ${{designPrice}}) </span>
                                </div>
                                <div class="lineSummary">

                                </div>
                            </div>
                            <div class="yourSizeResume">
                                <div class="texteSummary">
                                    <span style="font-size: 20px;font-weight: 900; color: #002633;margin-right: 5px;">Quantity: </span>  <span style="color: #002633;font-weight:100;font-size: 20px;">{{YourFlexiQuantity}}</span>
                                </div>
                                <div class="lineSummary">

                                </div>
                            </div>
                             <div class="yourSizeResume">
                                <div class="texteSummary">
                                    <span style="font-size: 20px;font-weight: 900; color: #002633;margin-right: 5px;">Total: </span>  <span style="color: #002633;font-weight:900;font-size: 20px;"> ${{YourFlexiTotalAmount}}</span> <span style="color: #002633;font-size: 16px;font-weight: 100;"> (no incl. GST) </span>
                                </div>
                                <div class="lineSummary">
                                </div>
                            </div>
                            

                        </div>

                    </div>
                    <div class="RearactionButton">
                        <!-- <div class="uploadDesignRear">
                            <span>Upload My Design</span>
                        </div> -->
                        <div class="customizerRear" @click="saveCommande">
                            <span>Customize</span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal">

            <!-- <span  class="close">&times;</span> -->
                <!-- Modal content -->
                <div v-show="proposition" class="proposition">
                    <div class="Kitmodal-content" >
                        <div class="kitModalContent">
                            <span>
                                Would you like to start from scratch or use your already saved design (can be modified)?
                            </span>
                        </div>
                    </div>
                    <div class="actionContent">
                        <div class="startingAgain" @click="startNew">
                            <span>Starting Again</span>
                        </div>
                        <div class="useAgain" @click="useAgain">
                            <span>
                                Use My Design
                            </span>
                        </div>
                    </div>
                </div>
                <div class="visuel" v-show="visuel">
                    <div class="cardVisuelContainer">
                    </div>
                </div>
                <div v-show="grapic" class="graphicSupport animate__animated animate__fadeInUp">
                    <div class="messageGraphicContent">
                        <span style="width: 379px;height: 54px; font-weight:900;font-size:20px">
                           Thank you for choosing the “Graphic support”, a graphic proposal will be sent to you within 48 hours
                        </span><br>
                        <span style="font-size: 16px;color: #33CCFF;font-weight: 100;">
                            Please fill out the form in order to have the most information about your vehicle the information you want to appear on your advertisement. <br>
                           Once this step is completed, you can go to the customization and click directly on the top right “Next” and access the order confirmation
                        </span>
                    </div>
                    <div class="close">
                        <span style="font-weight: 100;"  >&times;</span>
                    </div>

                </div>

        </div>
          <div class="recaptilatusContainer">
            <div class="contentContainerRecap">
                <ul class="contentLink">
                    <li class="contentLinkItem" @click="(resumeShowActive(0) ), (itemToShow='overview')">Overview</li>
                    <li class="contentLinkItem" @click="(resumeShowActive(1)) , (itemToShow='guideline')">Guideline</li>
                    <li class="contentLinkItem" @click="(resumeShowActive(2)) , (itemToShow='howtofix')">How to fix it</li>
                    <li class="contentLinkItem" @click="(resumeShowActive(3)) , (itemToShow='review')">Review</li>
                </ul>
            </div>
            <div class="contentContainerRecapitilatif" v-if="itemToShow == 'overview'" >
                <div class="descriptionContentContainer animate__animated animate__fadeInLeft animate__delay-1s">
                    <div class="descriptionContentHeader">
                        Your Flexi<span class="special">Squid</span>
                    </div>
                    <div class="infoRearkits">
                        <div class="quantityAndSizeReview">
                            <img src="../dist/assets/images/Side-arrow_dark copie.png" alt="">
                            <span> {{quantite}} FlexiSquid  {{sizeC}} </span>
                        </div>
                        <div class="consignReview">
                            <img src="../dist/assets/images/Side-arrow_dark copie.png" alt="">
                            <span> 4 Suction cup </span>
                        </div>
                             <div class="quantityAndSizeReview" style="display: flex;">
                             <div>
                                 <img src="../dist/assets/images/Side-arrow_dark copie.png" alt="">
                             </div>
                            <div  style="width: 266px;height: 108px; text-align: left; margin-left: 5px;">
                                <span > One Way, allows to see from the inside to the outside.<br> Does not interfere with your visibility </span>
                            </div>
                        </div>
                        <div class="consignReview" style="display: flex;" v-if="grapic">
                            <div>
                                <img src="../dist/assets/images/Side-arrow_dark copie.png" alt="">
                            </div>
                            <div style="width: 243px;height: 54px;" >
                                <span> A graphic proposal will be sent to you within 48 hours </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="photodescriptionContentContainer animate__animated animate__fadeInRigth animate__delay-1s">
                    <div class="photoContainerdescription">
                        Photo
                    </div>
                </div>
            </div>
            <div class="guideLineContainer "  v-if="itemToShow == 'guideline'" >
                <div class="guidelineDownload">
                    <div style="color: #fff; font-weight: 900; font-size: 38px; margin-bottom: 19px;width: 170px;height: 52px;"> 
                        <span>Guideline</span>
                    </div>
                    <div class="buttonDowload ">
                        <div class="titleButton">
                            <span>Download</span>
                        </div>
                        <div class="imageDownLoad">
                            <img src="../dist/assets/images/Download_v2.png" alt="">
                        </div>
                    </div>

                </div>
                <div class="guideLineSaveAre">
                    <div class="safeAreZone">
                        <span class="display-4 fw-bold">Safe Area</span>
                    </div>

                </div>
            </div>
            <div class="howTofixContainer mt-5" v-if="itemToShow == 'howtofix'">
                <div class="howTofixVideoContainer">
                    <iframe width="420" height="345" src="https://www.youtube.com/embed/5mwYmBdQuNI?autoplay=1&mute=1">
                        </iframe>      
                </div>

            </div>
        </div>
         <footer>
            <hr style="background: #33CCFF;height: 4px;">
            <div class="footerContainer">
                <div class="letUsHelp">
                    <div class="titleContent">
                        <span style="font-weight:900;font-size: 20px; color: #fff;">
                            Let us help
                        </span>
                    </div>
                    <div class="letContent">
                        <div class="myAccount">
                            <span>
                                <a style="color: #fff;list-style: none;font-size: 16px;font-weight: lighter;" href="">
                                    My account
                                </a>
                            </span>
                        </div>
                        <div class="contact">
                            <span>
                                <a style="color: #fff;list-style: none;font-size: 16px;font-weight: lighter;" href="">
                                    Contact
                                </a>
                            </span>
                        </div>
                        <div class="faqs">
                            <span>
                                <a style="color: #fff;list-style: none;font-size: 16px;font-weight: lighter;" href="">
                                    FAQs
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="followHelp">
                    <div class="titleContent">
                        <span style="font-weight:900;font-size: 20px; color: #fff;">
                            Follow us
                        </span>
                    </div>
                    <div class="letContent">
                        <div class="instagram">
                            <span>
                                <a style="color: #fff;list-style: none;font-size: 16px;font-weight: lighter;" href="">
                                    Instagram
                                </a>
                            </span>
                        </div>
                        <div class="facebook">
                            <span>
                                <a style="color: #fff;list-style: none;font-size: 16px;font-weight: lighter;" href="">
                                    Facebook
                                </a>
                            </span>
                        </div>
                        <div class="youtube">
                            <span>
                                <a style="color: #fff;list-style: none;font-size: 16px;font-weight: lighter;" href="">
                                    Youtube
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="newsletterContainer">
                    <div class="emailContainer">
                        <input type="email" placeholder="Email">
                    </div>
                    <div class="subcribeBouton">
                        <span>
                            Subscribe
                        </span>
                    </div>
                </div>
            </div>
            <div class="termsCondition">
                <div class="terms">
                    <span>
                        <a href="" style="color: #fff;">
                            Privacy and Cookie Policy
                        </a>
                    </span>
                </div>
                <div class="conditionsTerms">
                    <span>
                        <a href="" style="color: #fff;">
                            Terms and Conditions
                        </a>
                    </span>
                </div>
                <div class="copyrigth">
                    <span>
                        Copyright 2021© Flysoft Engineering & Adsquid.
                    </span> <br>
                    <span>
                        ABN: 16 998 486 520
                    </span>
                </div>
            </div>
            <div class="imageContainer">
                <img src="../dist/assets/images/Tentacule_footer_test_v2.png" alt="#">
            </div>
        </footer>
    </div>






    <script src="../dist/plugin/jquery.min.js"></script>
    <script src="../dist/assets/js/config.js"></script>
    <script src="../dist/plugin/responsive/js/bootstrap.min.js"></script>
    <script src="../dist/assets/js/flexi.js"></script>
</body>
</html>