<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../dist/assets/css/utils.css">
    <link rel="stylesheet" href="../dist/assets/css/account.css">
    <link rel="stylesheet" href="../dist/assets/css/globaHeader.css">
    <link rel="stylesheet" href="../dist/assets/css/footer.css">
    <script src="../dist/plugin/vue.js"></script>
    <script src="../dist/plugin/axios.min.js"></script>
</head>
<body>
    <div class="accountContainer" id="account">
        <header class="globalHeader">
            <div class="generalContent">
                <div class="logoContainer">
                    <div class="logo">
                        <a href="../index.html">
                            <img src="../dist/assets/images/logo.png" alt="">
                        </a>
                    </div>
    
                </div>
                <div class="linkContainerZone">
                    <div class="socialLinkContainer">
                        <span v-if="connected"  style="font-size: 16px; color: #33CCFF; margin-top: 16px; cursor: pointer;" > Welcome {{username}} </span>
                        <div class="user">
                            <img src="../dist/assets/images/icon/user_V2.svg" alt="">
                        </div>
                        <div class="shopping">
                            <img src="../dist/assets/images/icon/shopping-cart_V2.svg" alt="">
                        </div>
                        <div class="search_utilisateur">
                            <div class="search-icon">
                                <img src="../dist/assets/images/icon/search.svg" alt="">
                            </div>
                            <div class="inputText">
                                <input type="text" name="search" id="search" placeholder="Search">
                            </div>
                        </div>

                    </div>
                    <div class="pageLinkContainer">
                        <ul class="link-item-list">
                            <li class="link-item-list-item dropdows ">Produit
                                <ul class="dropdown-link-item">
                                    <li><a href="../products/kitSquid.html#Kit">Kit Squid</a></li>
                                    <li><a href="products/flexiSquid.html#flexiSquidSelectioncontainer">FlexiSquid</a></li>
                                    <li><a href="products/rearsquid.html#rearContainer">Rear Squid</a></li>
                                </ul>

                            </li>
                            <li class="link-item-list-item quote text-white"> <a href="../quote.html">Quote</a></li>
                            <li class="link-item-list-item buisiness"> <a href="../chooseYourmedia.html"> Business service</a></li>
                            <li class="StartMarking"> <a href="chooseYourmedia.html"> Start marking</a></li>
                        </ul>


                    </div>
    
                </div>
            </div>

        </header>
        <div class="accountBodyContainer">
            <div class="chooseTypeContainer">
                <div class="profilContainerTitle titleProfile" @click="showProfileTitleActive(0)">
                    <span>My Profil</span>
                </div>
                <div class="orderHistoryContainer titleProfile" @click="showProfileTitleActive(1)">
                    <span>Order History</span>
                </div>
            </div>

            <div class="profilAccountContent" v-if="coditionToShow == 'personal'">
                <div class="personalInformationContent">
                    <div class="PersonaltitleContent">
                        <span>Personal information</span>
                    </div>
                    <div class="personnalContent">
                        <div class="nameInfo d-flex">
                            <div class="username">
                                <div class="titleLabel">
                                    <span>First Name</span>
                                </div>
                                <div class="textInputLabel">
                                    <input type="text" v-model="user.name">
                                </div>
                            </div>
                            <div class="lastname">
                                <div class="titleLabel">
                                    <span>Last Name</span>
                                </div>
                                <div class="textInputLabel">
                                    <input type="text" v-model="user.lastName">
                                </div>
                            </div>
                        </div>
                        <div class="companyInformation">
                            <div class="titleLabel comp">
                                <span>Company Name:</span>
                            </div>
                            <div class="companyInputLabel">
                                <input type="text" v-model="user.companyName">
                            </div>
                        </div>
                        <div class="contactContent d-flex">
                            <div class="companyInformation">
                                <div class="titleLabel comp">
                                    <span>Email:</span>
                                </div>
                                <div class="companyInputLabel">
                                    <input type="text" v-model="user.email">
                                </div>
                            </div>
                            <div class="contactInformation">
                                <div class="titleLabel comp">
                                    <span>Contact Numbers:</span>
                                </div>
                                <div class="contactInputLabel">
                                    <input type="text" v-model="user.tel1">
                                </div>
                            </div>

                        </div>
                        <div class="companyInformation">
                            <div class="titleLabel comp">
                                <span>Password:</span>
                            </div>
                            <div class="companyInputLabel">
                                <input type="password" v-model="user.password">
                            </div>
                        </div>
                         <div class="contactContent d-flex">
                            <div class="companyInformation">
                                <div class="titleLabel comp">
                                    <span>Adress:</span>
                                </div>
                                <div class="companyInputLabel adress" v-model="user.tel2">
                                    <input type="text">
                                </div>
                                <div class="companyInputLabel adress" v-model="user.tel3">
                                    <input type="text">
                                </div>
                                <div class="companyInputLabel adress" v-model="user.tel3">
                                    <input type="text">
                                </div>  
                            </div>
                            <div class="contactInformation">
                                <div>
                                    <div class="titleLabel comp">
                                  <span>Town/City:</span>
                                  </div>
                                  <div class="contactInputLabel">
                                      <input type="text"v-model="user.city">
                                  </div>
                                </div>
                                <div class="titleLabel state">
                                    <span>State</span>
                                </div>
                                 <div class="contactInputLabel">
                                      <input type="text"v-model="user.state">
                                  </div>
                                <!-- <div class="dropdownStateMenue d-flex">
                                    <div class="contentStateValue">

                                    </div>
                                    <hr class="separateur" /> 
                                    <div class="dropdownIcon">
                                        <img src="../dist/assets/images/arrowDown.png" alt="#">
                                    </div>
                                </div> -->

                                <div class="titleLabel comp">
                                    <span>Postcode</span>
                                </div>
                                <div class="postCodeInput d-flex">
                                    <input type="text" v-model="user.postcode">
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <hr class="bigSepartor" style="height: 468px;border-radius:8px">
                <div class="aboutCarContent">
                    <div class="aboutContentTitle">
                        <span>About your car</span>
                    </div>
                    <div style="position: relative;">
                        <div class="titleLabel state">
                                <span>Brand</span>
                        </div>
                        <div class="dropdownStateMenue d-flex" @click="dropChoose = !dropChoose">
                            <div class="contentStateValue">
                                {{user.brand}}
                            </div>
                            <hr class="separateur"  /> 
                            <div class="dropdownIcon">
                                <img src="../dist/assets/images/arrowDown.png" alt="#">
                            </div>
                        </div>
                           <div class="contentListOfBrandChooseProfil" v-if="dropChoose">
                                <div class="ListOfBrandChooseProfil">
                                   <div class="brandToChooseProfil" v-for="(item, index) in brandChooseList" :key="index">
                                                <span @click="brandItem(item.value)" style="font-weight: 100;font-size: 16px;color: #002633;">
                                                    {{item.value}}
                                                </span>
                                    </div>
                               </div>
                           </div>
                    </div>
                    <div class="titleLabel comp">
                        <span>Model</span>
                   </div>
                    <div class="postCodeInput d-flex">
                       <input type="text" v-model="user.model">
                    </div>
                     <div class="titleLabel state">
                            <span>Years</span>
                    </div>
                     <div class="dropdownStateMenue d-flex" @click="dropChooseYear = !dropChooseYear">
                        <div class="contentStateValue">
                            <span>{{user.years}}</span>
                        </div>
                        <hr class="separateur" /> 
                        <div class="dropdownIcon">
                            <img src="../dist/assets/images/arrowDown.png" alt="#">
                        </div>
                    </div>
                    <div class="dropDowpcontainerToYearChoose" v-if="dropChooseYear">
                         <div class="containerChoosing">
                              <div  v-for="items in YearList" class="itemsChosse">
                                   <span @click="YearItem(items)"> {{items}} </span>
                               </div>
                          </div>
                     </div>

                     <div class="updateButton" @click ="userUpdate()">
                         <span>Update</span>
                     </div>
                  

                </div>

            </div>
            <div class="orderHistory" v-if="coditionToShow ==  'history'" v-for="(item, index) in commande" :key="index">
                <div class="reviewOderHistory">
                    <div class="title">
                        <span>
                            Order number: <span style="font-weight: 900;color: #fff;"> #0001 </span>
                        </span>
                        <br>
                        <span>
                            Date ordered: <span style="font-weight: 900;color: #fff;">30/09/2021</span>
                        </span>
                    </div>
                    <div class="productDetailsHistory">
                        <div class="globalHistory">
                            <div class="historyContentOder">
                                <div class="previewContainer">
                                    <img src="#" alt="">
                                </div>
                            </div>
                            <div class="historyTitleProduct">
                                <span>
                                    Kit <span style="color: #33CCFF;"> Squid</span>
                                </span>
                            </div>
                            <div class="Yourdetail">
                                <div class="labelDetailContainer">
                                    <span style="font-style:20px;font-weight:900; color:#fff">
                                        Your size:
                                    </span>
                                    <span style="font-style:20px;color:#fff">
                                        value
                                    </span>
                                </div>
                                <hr>
                                <div class="labelDetailContainer">
                                    <span style="font-style:20px;font-weight:900; color:#fff">
                                        Your cut:
                                    </span>
                                    <span style="font-style:20px;color:#fff">
                                        value
                                    </span>
                                </div>
                                <hr>
                                <div class="labelDetailContainer">
                                    <span style="font-style:20px;font-weight:900; color:#fff">
                                        Your extra sticker:
                                    </span>
                                    <span style="font-style:20px;color:#fff">
                                        value
                                    </span>
                                </div>
                                <hr>
                                <div class="labelDetailContainer">
                                    <span style="font-style:20px;font-weight:900; color:#fff">
                                        Your design:
                                    </span>
                                    <span style="font-style:20px;color:#fff">
                                        value
                                    </span>
                                </div>
                                <hr>
                                <div class="labelDetailContainer">
                                    <span style="font-style:20px;font-weight:900; color:#fff">
                                       Quantity:
                                    </span>
                                    <span style="font-style:20px;color:#fff">
                                        value
                                    </span>
                                </div>
                                <hr>
                                 <div class="labelDetailContainer">
                                    <span style="font-style:20px;font-weight:900; color:#fff">
                                        Total:
                                    </span>
                                    <span style="font-style:20px; font-weight: 900; color:#fff">
                                        value
                                    </span>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <hr style="height: 429px; margin-left:50px;margin-right: 27.74px;">
                <div class="reviewProgressHistory">
                     <div class="title">
                            <span>
                                Statut: <span style="font-weight: 900;color: #fff;"> Order in progress of verifcation </span>
                            </span>
                    </div>
                     <div class="productDetailsHistory" style="margin-top: 70px;">
                        <div class="globalHistory">
                            <div class="Yourdetail">
                                <div class="labelDetailContainer">
                                    <span style="font-style:20px;font-weight:900; color:#fff">
                                        Your size:
                                    </span>
                                    <span style="font-style:20px;color:#fff">
                                        value
                                    </span>
                                </div>
                                <hr>
                                <div class="labelDetailContainer">
                                    <span style="font-style:20px;font-weight:900; color:#fff">
                                        Your cut:
                                    </span>
                                    <span style="font-style:20px;color:#fff">
                                        value
                                    </span>
                                </div>
                                <hr>
                                <div class="labelDetailContainer">
                                    <span style="font-style:20px;font-weight:900; color:#fff">
                                        Your extra sticker:
                                    </span>
                                    <span style="font-style:20px;color:#fff">
                                        value
                                    </span>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- <div class="commandeContainer" >
                <span>
                    You haven't a product commande 
                </span>
            </div> -->
    
        </div>
    </div>

    <script src="../dist/assets/js/account.js"></script>
    <script src="../dist/assets/js/config.js"></script>
</body>
</html>