<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ASQUID | Cart</title>
    <link rel="icon" href="../dist/assets/images/Picto.png">
    <link rel="stylesheet" href="../dist/assets/css/cart.css">
    <link rel="stylesheet" href="../dist/assets/css/footer.css">
    <script src="../dist/plugin/vue.js"></script>
    <script src="../dist/plugin/axios.min.js"></script>
</head>
<body>

    <div class="cartContainer" id="cart">
        <header class="cartHeader">
            <div class="logoContainer">
                <a href="../index.html">
                    <img src="../dist/assets/images/Adsquid_white_SF.png" alt="">
                </a>
            </div>
            <div class="SocialAndLinkContainer">
                <div class="socialLink">
                    <div class="userAccount">
                        <img src="../dist/assets/images/icon/user_V2.svg" alt="userAccount">
                    </div>
                    <div class="shoppingContainer">
                        <img src="../dist/assets/images/icon/shopping-cart_V2.svg" alt="shopping-cart">
                        <div class="numberofProduct">
                            <span> {{numberOfProduct}} </span>
                        </div>
                    </div>
                    <div class="search_utilisateur">
                        <div class="search-icon">
                            <img src="../dist/assets/images/icon/search.svg" alt="">
                        </div>
                        <div class="inputText">
                            <input type="text" name="search" id="search" placeholder="Search">
                        </div>
                    </div>

                </div>
                <div class="navLink">
                    <div class="productLink">
                        <span>Product</span>
                    </div>
                    <div class="quoteLink">
                        <span><a href="quote.html">Quote</a></span>
                    </div>
                    <div class="busnessServiceLink">
                        <span><a href="#">Business Service</a></span>
                    </div>

                </div>

            </div>

        </header>
        <div class="CardBodyContainer">
            <div class="breackrumbCart">
                <div class="name">
                    Your cart
                </div>
                <div style="color: #33CCFF;width: 72px;height: 22px; font-size: 16px;margin-top: 14px;margin-bottom: 104px;margin-left: 52px;margin-right: 974px;">
                    Your cart
                </div>
            </div>
            <div class="CartActionButton">
                <div class="continuousButton" @click="shopping">
                    <div class="imgContainer">
                        <img src="../dist/assets/images/Customisateur/up-arrowL_blue.png" alt="">
                    </div>
                    <span style="color: #33CCFF; font-size:16px;font-weight: bold;margin-top: 16px;margin-bottom: 16px;margin-left: 48px;">
                        Continue Shopping
                    </span>
                </div>
                <div class="shippingButton" @click="shipping">
                    <span style="color: #fff;font-size: 16px;font-weight: bold;margin-left: 56px;">
                        Shipping
                    </span>
                    <div class="imgContainer">
                        <img src="../dist/assets/images/Customisateur/up-arrow_white.png" alt="">
                    </div>
                </div>
            </div>

            <div class="panierContent">
                <div class="panierContentContainer" v-for="(item, index) in carts" :key="index">
                    <div class="viewProductCart">
                        <div class="previewOfProduct">
                            <img :src="item.visuel" alt="image to preview">
                        </div>
                        <div class="removeOnCart">
                            <span>
                                Remove
                            </span>
                        </div>
                    </div>
                    <div class="detailsProductCart">
                        <div class="titleProduct">
                            <span style="color: #fff;font-weight: 900; font-size: 20px;">{{item.ProduitCommande}} <span style="color: #33CCFF;font-size:20px;font-weight:900"> Squid</span></span>
                        </div>
                        <div class="productContainer">
                            <div class="sizeLine">
                                <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                    Your size: 
                                </span>
                                <span style="font-size: 20; font-weight: 200;color: #fff;">
                                    {{item.sizeCommande}}
                                </span>
                                <hr style="width: 408px; margin-top:18.5px;border-radius:8px">
                            </div>
                            <div class="cutLine">
                                <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                    Your cut:
                                </span>
                                <span style="font-size: 20; font-weight: 200;color: #fff;">
                                     {{item.cutCommande}}
                                </span>
                                <hr style="width: 408px; margin-top:18.5px;border-radius:8px">
                            </div>
                            <div class="cutLine">
                                <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                    Your extra sticker:
                                </span>
                                <span style="font-size: 20; font-weight: 200;color: #fff; font-size: 16px;" v-for="(items, index) in item.extraCommande" :key="index">
                                     {{items}}
                                </span>
                                <hr style="width: 408px; margin-top:18.5px;border-radius:8px">
                            </div>
                             <div class="cutLine">
                                <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                    Your design: 
                                </span>
                                <span style="font-size: 20; font-weight: 200;color: #fff;">
                                     {{item.designCommande}}
                                </span>
                                <hr style="width: 408px; margin-top:18.5px;border-radius:8px">
                            </div>
                             <div class="cutLine">
                                <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                    Quantity: 
                                </span>
                                <span style="font-size: 20; font-weight: 200;color: #fff;">
                                     {{item.quantityCommande}}
                                     <img src="../dist/assets/images/Customisateur" alt="">
                                </span>
                                <hr style="width: 408px; margin-top:18.5px;border-radius:8px">
                            </div>
                            <div class="cutLine" style="margin-bottom: 48px;">
                                <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                    Total:
                                </span>
                                <span style="font-size: 20; font-weight: 900;color: #fff;">
                                      $ {{item.amountCommande}}
                                </span>
                                <hr style="width: 408px; margin-top:18.5px;border-radius:8px">
                            </div>
                            
                        </div>
                    </div>
                </div>
                <hr style="width: 767px; margin-left: 229.5px;">

                <div class="shippingInvoice">
                    <div class="sizeLine">
                                <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                    Shipping: 
                                </span>
                                <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                    + ${{shippingPrice}}
                                </span>
                                <hr style="width: 408px; margin-top:18.5px;border-radius:8px">
                     </div>
                    <div class="sizeLine">
                                <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                    GST (10%): 
                                </span>
                                <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                     ${{GTS}}
                                </span>
                                <hr style="width: 408px; margin-top:18.5px;border-radius:8px">
                     </div>
                       <div class="sizeLine">
                                <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                    Code promo: 
                                </span>
                                <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                     <input style="width: 273px;height: 34px; background: #FFFFFF0B 0% 0% no-repeat padding-box;border-radius: 17px; border:none;padding-left: 20px; color: #fff;" type="text">
                                </span>
                                <hr style="width: 408px; margin-top:18.5px;border-radius:8px">
                     </div>
                       <div class="sizeLine">
                                <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                    Total: 
                                </span>
                                <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                    $ {{totalShipping}}
                                </span>
                                <hr style="width: 408px; margin-top:18.5px;border-radius:8px">
                     </div>
                      <div class="shippingButton" style="margin-top: 60px; margin-left: 370px; margin-bottom: 268px;" @click="shipping">
                            <span style="color: #fff;font-size: 16px;font-weight: bold;margin-left: 56px;">
                                Shipping
                            </span>
                            <div class="imgContainer">
                                <img src="../dist/assets/images/Customisateur/up-arrow_white.png" alt="">
                            </div>
                     </div>
                </div>
            </div>
        </div>

    </div>
    
    <script src="../dist/assets/js/config.js"></script>
    <script src="../dist/assets/js/cart.js"></script>
</body>
</html>