<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../dist/assets/css/shipping.css">
    <link rel="stylesheet" href="../dist/assets/css/footer.css">
    <link rel="stylesheet" href="../dist/assets/css/utils.css">
    <script src="../dist/plugin/vue.js"></script>
</head>
<body>
    <div class="shippingContentContainer" id="paymentL">
        <header class="cartHeader">
            <div class="logoContainer">
                <img src="../dist/assets/images/Adsquid_white_SF.png" alt="">
            </div>
            <div class="SocialAndLinkContainer">
                <div class="socialLink">
                    <div class="userAccount">
                        <img src="../dist/assets/images/icon/user_V2.svg" alt="userAccount">
                    </div>
                    <div class="shoppingContainer">
                        <img src="../dist/assets/images/icon/shopping-cart_V2.svg" alt="shopping-cart">
                        <div class="numberofProduct">
                            <span> {{numberOfProduct}} </span>
                        </div>
                    </div>
                    <div class="search_utilisateur">
                        <div class="search-icon">
                            <img src="../dist/assets/images/icon/search.svg" alt="">
                        </div>
                        <div class="inputText">
                            <input type="text" name="search" id="search" placeholder="Search">
                        </div>
                    </div>

                </div>
                <div class="navLink">
                    <div class="productLink">
                        <span>Product</span>
                    </div>
                    <div class="quoteLink">
                        <span><a href="quote.html">Quote</a></span>
                    </div>
                    <div class="busnessServiceLink">
                        <span><a href="#">Business Service</a></span>
                    </div>

                </div>

            </div>
        </header>
        <div class="breackrumb">
            <div class="titleBreak">
                <span>
                    Your Payment
                </span>
            </div>
            <div class="descriBreak">
                <span>
                    Your cart/Your address/ <span style="color: #33CCFF;"> Your Payment</span>
                </span>
            </div>
        </div>
        <div class="shippingContainer">
            <div class="shippingContent">
                <div class="shippingTitle">
                    <span>
                        Shipping Adress
                    </span>
                </div>
                <div class="choosePaymentMethod">
                    <div class="bankMethods bank" @click="resumeShowActive(0)">
                        <span>
                            Credit Card
                        </span>
                    </div>
                    <div class="paypalMethods bank" @click="resumeShowActive(1)">
                        <span>
                            Paypal
                        </span>
                    </div>
                </div>
                <div class="Bankth" v-show="paymentMode =='bank'">
                    <div class="LabelInputText">
                        <div class="labelText">
                            <span>
                                Card Number
                            </span>
                        </div>
                        <div class="labelInput">
                            <input style="padding-left: 20px;" placeholder="1234 5678 9012 3456" type="text">
                        </div>
                    </div>
                    <div class="placeStateContainer">
                        <div class="countryContent">
                            <div class="labelText">
                                <span>
                                    Expiry Date
                            </span>
                            </div>
                            <div class="contryInput">
                                <input style="padding-left: 20px;" type="text" placeholder="MM/YY">
                            </div>
                        </div>
                        <div class="countryContent">
                            <div class="labelText">
                                <span>
                                    CVC / CVV
                            </span>
                            </div>
                            <div class="contryInput">
                                <input style="padding-left: 20px;" type="text" placeholder="123">
                            </div>
                        </div>
                    </div>
                   <div class="detailsInfo">
                        <div class="itemsText agree" style="margin-top: 25px;">
                            <span style="font-weigth:100;font-size:14px;width: 483px;height: 51px;" >By placing an order, you confirm that you have read and agree to our Privacy <br> Policy and Terms and Conditions.</span>
                        </div>
                    </div>
                    <div class="paymentButton">
                        <span style="font-weight: 900;font-size: 16px; color: #FFFF;">Pay & Place order</span>
                    </div>
                </div>
                <div class="payPalth" v-show="paymentMode == 'payPal'">
                    <div class="pill" ref="paypal"></div>
                </div>
            </div>
            <hr style="height: 1128px;border-radius:8px">
            <div class="cartShipping">
                <div class="shippingSelling" v-for="(item, index) in carts" :key="index">
                    <div class="previewContain">
                        <img :src="item.visual" alt="">
                    </div>
                    <div class="descriptionContent">
                        <div class="titleProduct">
                            <span>
                                Kit <span style="color: #33CCFF;font-weight:900;font: size 20px;"> Squid</span>
                            </span>
                        </div>
                         <div class="productContainer">
                                <div class="sizeLine">
                                    <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                        Your size: 
                                    </span>
                                    <span style="font-size: 20; font-weight: 200;color: #fff;">
                                        {{item.product.sizeProduct}}
                                    </span>
                                    <hr style="width: 408px; margin-top:18.5px;border-radius:8px">
                                </div>
                                <div class="cutLine">
                                    <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                        Your cut:
                                    </span>
                                    <span style="font-size: 20; font-weight: 200;color: #fff;">
                                         {{item.product.cutProduct}}
                                    </span>
                                    <hr style="width: 408px; margin-top:18.5px;border-radius:8px">
                                </div>
                                <div class="cutLine">
                                    <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                        Your extra sticker:
                                    </span>
                                    <span style="font-size: 20; font-weight: 200;color: #fff;">
                                         {{item.product.extraProduct}}
                                    </span>
                                    <hr style="width: 408px; margin-top:18.5px;border-radius:8px">
                                </div>
                                 <div class="cutLine">
                                    <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                        Your design: 
                                    </span>
                                    <span style="font-size: 20; font-weight: 200;color: #fff;">
                                         {{item.product.designProduct}}
                                    </span>
                                    <hr style="width: 408px; margin-top:18.5px;border-radius:8px">
                                </div>
                                 <div class="cutLine">
                                    <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                        Quantity: 
                                    </span>
                                    <span style="font-size: 20; font-weight: 200;color: #fff;">
                                         {{item.product.quantityProduct}}
                                         <img src="../dist/assets/images/Customisateur" alt="">
                                    </span>
                                    <hr style="width: 408px; margin-top:18.5px;border-radius:8px">
                                </div>
                                <div class="cutLine" style="margin-bottom: 48px;">
                                    <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                        Total:
                                    </span>
                                    <span style="font-size: 20; font-weight: 900;color: #fff;">
                                          $ {{item.product.totalAmountProduct}}
                                    </span>
                                    <hr style="width: 408px; margin-top:18.5px;border-radius:8px">
                                </div>
                                
                         </div>
                    </div>
                    <hr v-if="carts.lenght > 1" width="200px" style="margin-left: auto;">
                </div>
                    <hr width="200px" style="margin-left: auto;">
                <div class="shippingInvoice">
                    <div class="sizeLine">
                                <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                    Shipping: 
                                </span>
                                <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                    + ${{shippingPrice}}
                                </span>
                                <hr style="width: 408px; margin-top:18.5px;border-radius:8px">
                     </div>
                    <div class="sizeLine">
                                <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                    GST (10%): 
                                </span>
                                <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                    + ${{GTS}}
                                </span>
                                <hr style="width: 408px; margin-top:18.5px;border-radius:8px">
                     </div>
                       <div class="sizeLine">
                                <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                    Total: 
                                </span>
                                <span style="font-size: 20px; font-weight: 900;color: #fff;">
                                    $ {{totalShipping}}
                                </span>
                                <hr style="width: 408px; margin-top:18.5px;border-radius:8px">
                     </div>
                </div>



            </div>

        </div>
    </div>
    <script src="../dist/assets/js/payment.js"></script>
</body>
</html>